## Data
*.json
*.gz
*.csv
*.joblib

## Specific Data Paths
data/raw
data/processed
!data/raw/README.md
!data/processed/README.md
!data/resources/covid_subreddits.json
!data/resources/covid_terms.json
!data/resources/*keywords
!data/resources/mental_health_keywords.csv
!data/resources/mental_health_subreddits.json
!data/resources/mental_health_terms.json
!data/resources/mental_health_keywords_manual_selection.csv
data/results

## Plots
*.png
plots/*/*/*/*/*.txt
plots/*/*/*/*/*.csv

## Artifacts
*pycache*
*.pyc
*.DS_Store

## Credentials
config.json

## Miscellaneous
temp_scheduler/
temp/